# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
/build/
/dist/
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/
/.venv/
venv/
.env
.env.*

# IDE
.idea/
.vscode/

# Data / Outputs  
/outputs/
*.log
# Note: /data/ is copied during deployment, not committed to git

# Docker
*.pid
